* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1; }

.letters_Guessed {
  border-bottom: 1px white solid;
  margin-bottom: 0;
  position: absolute;
  bottom: 8px;
  width: 50%;
  text-align: center;
  justify-self: center;
  align-self: center; }

.guessed_Container {
  height: 70%;
  width: 5%;
  border: 1px black solid;
  margin: 10px;
  position: relative;
  display: grid;
  justify-self: center;
  align-self: center; }
  .guessed_Container .letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px; }
  .guessed_Container .letter-button-color {
    color: darkcyan; }

body {
  display: grid;
  grid-template-columns: 0.5fr 4fr 4fr 0.5fr;
  grid-template-rows: 0.1fr 1fr 5fr 0.1fr;
  grid-template-areas: ". . . ." ". header header ." ". left_Column right_Column  . " ". . . .";
  height: 100vh;
  width: 100wh;
  background: url(../Img/snow.gif);
  background-repeat: no-repeat;
  background-size: cover; }
  body #header {
    grid-area: header;
    display: grid;
    width: 100%; }
    body #header .header_Img {
      justify-self: center;
      align-self: center;
      height: auto; }
  body #left_Column {
    grid-area: left_Column;
    height: 100%; }
    body #left_Column #hangman {
      grid-area: hangman;
      display: grid;
      height: 80%;
      padding: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 5fr 0.2fr 5fr;
      grid-template-areas: "title_Hangman" "top_Img" "title_Reaction" "bottom_Img";
      border: 1px solid black; }
      body #left_Column #hangman .title_Hangman {
        grid-area: title_Hangman;
        border-bottom: 1px black solid;
        justify-self: center;
        align-self: center; }
      body #left_Column #hangman .title_Reaction {
        grid-area: title_Reaction;
        border-bottom: 1px black solid;
        justify-self: center;
        align-self: center; }
      body #left_Column #hangman .top_Img {
        grid-area: top_Img;
        background: url("../Img/tumble_weed.gif");
        background-repeat: no-repeat;
        background-size: cover;
        justify-self: center;
        align-self: center;
        border: 1px solid white;
        width: 40%;
        height: 80%; }
      body #left_Column #hangman .bottom_Img {
        grid-area: bottom_Img;
        background: url("../Img/gotOpening.gif");
        background-repeat: no-repeat;
        background-size: cover;
        justify-self: center;
        align-self: center;
        border: 1px solid white;
        width: 40%;
        height: 80%; }
  body #right_Column {
    grid-area: right_Column;
    display: grid;
    height: 80%;
    padding: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 5fr 0.2fr 5fr;
    grid-template-areas: "title_Hangman" "top_Img" "title_Reaction" "bottom_Img";
    border: 1px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "scores_Section" "hints_Section" "guessed_Section" "guesses_Section"; }
    body #right_Column #scores_Section {
      grid-area: scores_Section;
      border: 1px solid black; }
    body #right_Column #hints_Section {
      grid-area: hints_Section;
      border: 1px solid black;
      display: grid;
      display: grid;
      height: 80%;
      padding: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 5fr 0.2fr 5fr;
      grid-template-areas: "title_Hangman" "top_Img" "title_Reaction" "bottom_Img";
      border: 1px solid black;
      grid-template-columns: 5fr 6fr;
      grid-template-rows: 1fr;
      grid-template-areas: "changing_Gifs hints"; }
      body #right_Column #hints_Section .changing_Gifs {
        grid-area: changing_Gifs;
        width: 100%;
        height: auto; }
      body #right_Column #hints_Section .hints {
        grid-area: hints; }
    body #right_Column #guessed_Section {
      grid-area: guessed_Section;
      border: 1px solid black;
      display: grid; }
      body #right_Column #guessed_Section .guessed_Container {
        height: 70%;
        width: 5%;
        border: 1px black solid;
        margin: 10px;
        position: relative;
        display: grid;
        justify-self: center;
        align-self: center; }
        body #right_Column #guessed_Section .guessed_Container .letters_Guessed {
          border-bottom: 1px white solid;
          margin-bottom: 0;
          position: absolute;
          bottom: 8px;
          width: 50%;
          text-align: center;
          justify-self: center;
          align-self: center; }
    body #right_Column #guesses_Section {
      grid-area: guesses_Section;
      border: 1px solid black; }
