* {
  padding: 0;
  margin: 0;
  font-size: 2vh;
  line-height: 1;
  color: white; }

p {
  margin: 0; }

.letters_Guessed {
  border-bottom: 1px white solid;
  margin-bottom: 0;
  position: absolute;
  bottom: 8px;
  width: 50%;
  text-align: center;
  justify-self: center;
  align-self: center; }

.guessed_Container {
  height: 70%;
  width: 5%;
  border: 1px black solid;
  margin: 10px;
  position: relative;
  display: grid;
  justify-self: center;
  align-self: center; }

.letter {
  width: 30px;
  height: 60%;
  border-style: solid;
  padding: 2px;
  float: left;
  margin: 0 auto;
  margin-right: 10px;
  margin-top: 10px; }

.red_letter {
  width: 30px;
  height: 60%;
  border-style: solid;
  padding: 2px;
  float: left;
  margin: 0 auto;
  margin-right: 10px;
  margin-top: 10px; }

.red_letter-button-color {
  color: darkcyan; }

.letter-button-color {
  color: darkcyan; }

body {
  display: grid;
  grid-template-columns: 0.5fr 3fr 4fr 0.5fr;
  grid-template-rows: 0.1fr 1fr 5fr 0.1fr;
  grid-template-areas: ". . . ." ". header header ." ". left_Column right_Column  . " ". . . .";
  height: 100vh;
  width: 100wh;
  background: url(../Img/snow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-gap: 20px; }
  body #header {
    grid-area: header;
    display: grid;
    width: 100%; }
    body #header .header_Img {
      justify-self: center;
      align-self: center;
      height: auto; }
  body #left_Column {
    grid-area: left_Column;
    height: 80%;
    border: 1px solid black;
    background: url(../Img/left_background.gif);
    background-repeat: no-repeat;
    background-size: cover; }
    body #left_Column #hangman {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 5fr 0.2fr 5fr;
      grid-template-areas: "title_Hangman" "top_Img" "title_Reaction" "bottom_Img";
      grid-area: hangman;
      display: grid;
      height: 100%;
      padding: 8px; }
      body #left_Column #hangman .title_Hangman {
        grid-area: title_Hangman;
        border-bottom: 1px black solid;
        justify-self: center;
        align-self: center; }
      body #left_Column #hangman .title_Reaction {
        grid-area: title_Reaction;
        border-bottom: 1px black solid;
        justify-self: center;
        align-self: center; }
      body #left_Column #hangman .top_Img {
        grid-area: top_Img;
        background-repeat: no-repeat;
        background-size: cover;
        justify-self: center;
        align-self: center;
        border: 1px solid white;
        height: 80%;
        display: grid;
        max-width: 245px;
        max-height: 212px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "hangman_Title_Image"; }
        body #left_Column #hangman .top_Img .hangman_Title_Image {
          grid-area: hangman_Title_Image;
          width: 100%;
          max-width: 245px;
          height: 100%; }
      body #left_Column #hangman .bottom_Img {
        background-repeat: no-repeat;
        background-size: cover;
        justify-self: center;
        align-self: center;
        border: 1px solid white;
        height: 80%;
        max-width: 245px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "hangman_Bottom_Image"; }
        body #left_Column #hangman .bottom_Img .hangman_Bottom_Image {
          grid-area: hangman_Bottom_Image;
          width: 100%;
          max-width: 245px;
          height: 100%; }
  body #right_Column {
    grid-area: right_Column;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 5fr;
    grid-template-areas: "scores_Section" "hints_Section" "guessed_Section" "guesses_Section" "hint_Image_Section";
    height: 80%;
    border: 1px solid black;
    background: url(../Img/right_background.gif);
    background-repeat: no-repeat;
    background-size: cover; }
    body #right_Column #scores_Section {
      grid-area: scores_Section;
      border: 1px solid black;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 1fr;
      grid-template-areas: "upper_Scores" "lower_Message"; }
      body #right_Column #scores_Section .upper_Scores {
        grid-area: upper_Scores;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "wins_Container loss_Container life_Container"; }
        body #right_Column #scores_Section .upper_Scores .wins_Container {
          grid-area: wins_Container;
          border: 1px solid black;
          height: 100%;
          display: grid; }
          body #right_Column #scores_Section .upper_Scores .wins_Container .wins_Score {
            justify-self: center;
            align-self: center; }
        body #right_Column #scores_Section .upper_Scores .loss_Container {
          grid-area: loss_Container;
          border: 1px solid black;
          height: 100%;
          display: grid; }
          body #right_Column #scores_Section .upper_Scores .loss_Container .loss_Score {
            justify-self: center;
            align-self: center; }
        body #right_Column #scores_Section .upper_Scores .life_Container {
          grid-area: life_Container;
          border: 1px solid black;
          height: 100%;
          display: grid; }
          body #right_Column #scores_Section .upper_Scores .life_Container .life_Score {
            justify-self: center;
            align-self: center; }
      body #right_Column #scores_Section #lower_Message {
        grid-area: lower_Message;
        justify-self: center;
        align-self: center; }
    body #right_Column #hints_Section {
      grid-area: hints_Section;
      border: 1px solid black;
      display: grid;
      height: 80%;
      padding: 8px;
      border: 1px solid black;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "hints"; }
      body #right_Column #hints_Section .hints {
        grid-area: hints;
        display: grid;
        justify-self: center;
        align-self: center;
        text-align: center;
        display: grid; }
        body #right_Column #hints_Section .hints .hints_Sentence {
          padding: 5px;
          justify-self: center;
          align-self: center; }
    body #right_Column #guessed_Section {
      grid-area: guessed_Section;
      border: 1px solid black;
      display: grid; }
      body #right_Column #guessed_Section .center {
        width: 80%;
        height: 100%;
        justify-self: center;
        align-self: center;
        border: 1px solid black;
        display: grid; }
        body #right_Column #guessed_Section .center .to_Append {
          justify-self: center;
          align-self: center; }
    body #right_Column #guesses_Section {
      display: grid;
      grid-area: guesses_Section; }
      body #right_Column #guesses_Section .letter_Guesses_Container {
        justify-self: center;
        align-self: center;
        padding: 10px; }
    body #right_Column #hint_Image_Section {
      grid-area: hint_Image_Section;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "changing_Gifs";
      display: grid;
      height: auto; }
      body #right_Column #hint_Image_Section .changing_Gifs {
        grid-area: changing_Gifs;
        width: 50%;
        height: auto;
        max-height: 524.875px;
        border: 1px white solid;
        justify-self: center;
        align-self: center; }
