*
  padding: 0
  margin: 0
  font-size: 2vh
  line-height: 1
  color: white

p
  margin: 0

@mixin grid ($columns, $rows, $area)
  grid-template-columns: $columns
  grid-template-rows: $rows
  grid-template-areas: $area

// Vertical Center Line Item Mixin
@mixin vertical_center_line
  justify-self: center
  align-self: center

@mixin background_image
  background-repeat: no-repeat
  background-size: cover


.center
  justify-self: center
  align-self: center

// Reuse Classes
.letters_Guessed
  border-bottom: 1px white solid
  margin-bottom: 0
  position: absolute
  bottom: 8px
  width: 50%
  text-align: center
  @include vertical_center_line

.guessed_Container
  height: 70%
  width: 5%
  border: 1px black solid
  margin: 10px
  position: relative
  display: grid
  @include vertical_center_line

.letter
  width: 30px
  height: 60%
  border-style: solid
  padding: 2px
  float: left
  margin: 5px

.red_letter
  width: 30px
  height: 60%
  border-style: solid
  padding: 2px
  float: left
  margin: 5px
  background-color: red

.red_letter-button-color
  color: white


.letter-button-color
  color: darkcyan


body
  display: grid
  grid-template-columns: 0.5fr 3fr 4fr 0.5fr
  grid-template-rows: 0.1fr 1fr 5fr 0.1fr
  grid-template-areas: ". . . ." ". header header ." ". left_Column right_Column  . " ". . . ."
  height: 100vh
  width: 100wh
  background: url(../Img/snow.gif)
  background-repeat: no-repeat
  background-size: cover
  grid-column-gap: 20px
  #header
    grid-area: header
    display: grid
    width: 100%
    .header_Img
      @include vertical_center_line
      height: auto
      width: auto
  #left_Column
    grid-area: left_Column
    height: 80vh
    border: 1px solid black
    background: url(../Img/left_background.gif)
    background-repeat: no-repeat
    background-size: cover
    border: 1px solid yellow
    #hangman
      @include grid($columns: 1fr, $rows: 0.2fr 5fr 0.2fr 5fr, $area: "title_Hangman" "top_Img" "title_Reaction" "bottom_Img")
      grid-area: hangman
      display: grid
      height: 100%
      padding: 8px
      .title_Hangman
        grid-area: title_Hangman
        border-bottom: 1px black solid
        @include vertical_center_line
      .title_Reaction
        grid-area: title_Reaction
        border-bottom: 1px black solid
        @include vertical_center_line
      .top_Img
        grid-area: top_Img
        @include background_image
        @include vertical_center_line
        border: 1px solid white
        height: 80%
        display: grid
        max-width: 245px
        max-height: 212px
        @include grid($columns: 1fr, $rows: 1fr, $area: "hangman_Title_Image")
        .hangman_Title_Image
          grid-area: hangman_Title_Image
          width: 100%
          max-width: 245px
          height: 100%
      .bottom_Img
        @include background_image
        @include vertical_center_line
        border: 1px solid white
        height: 80%
        max-width: 245px
        display: grid
        @include grid($columns: 1fr, $rows: 1fr, $area: "hangman_Bottom_Image")
        .hangman_Bottom_Image
          grid-area: hangman_Bottom_Image
          width: 100%
          max-width: 245px
          height: 100%



  //Left Section
  #right_Column
    grid-area: right_Column
    display: grid
    @include grid($columns: 2fr, $rows: 2fr 1fr 1fr 1fr 5fr, $area: "scores_Section" "hints_Section" "guessed_Section" "guesses_Section" "hint_Image_Section")
    height: 80vh
    border: 1px solid black
    background: url(../Img/right_background.gif)
    background-repeat: no-repeat
    background-size: cover
    border: 1px solid yellow
    // Scores Section
    #scores_Section
      grid-area: scores_Section
      border: 1px solid black
      display: grid
      @include grid($columns: 1fr, $rows: 1.5fr 1fr, $area: "upper_Scores" "lower_Message")
      .upper_Scores
        grid-area: upper_Scores
        display: grid
        @include grid($columns: 1fr 1fr 1fr, $rows: 1fr, $area: "wins_Container loss_Container life_Container")
        .wins_Container
          grid-area: wins_Container
          border: 1px solid black
          height: 100%
          display: grid
          .wins_Score
            @include vertical_center_line
        .loss_Container
          grid-area: loss_Container
          border: 1px solid black
          height: 100%
          display: grid
          .loss_Score
            @include vertical_center_line
        .life_Container
          grid-area: life_Container
          border: 1px solid black
          height: 100%
          display: grid
          .life_Score
            @include vertical_center_line
      #lower_Message
        grid-area: lower_Message
        @include vertical_center_line
    //Hints Section
    #hints_Section
      grid-area: hints_Section
      border: 1px solid black
      display: grid
      height: 80%
      padding: 8px
      border: 1px solid black
      grid-template-columns: 1fr
      grid-template-rows: 1fr
      grid-template-areas: "hints"
      .hints
        grid-area: hints
        display: grid
        @include vertical_center_line
        text-align: center
        display: grid
        .hints_Sentence
          padding: 5px
          @include vertical_center_line

    // Guessed Letters Section
    #guessed_Section
      grid-area: guessed_Section
      border: 1px solid black
      display: grid
      .center
        width: 80%
        height: 100%
        @include vertical_center_line
        border: 1px solid black
        display:  grid
        .to_Append
          @include vertical_center_line

    // Letters to be guessed Section
    #guesses_Section
      display: grid
      grid-area: guesses_Section
      .letter_Guesses_Container
        @include vertical_center_line
        padding: 10px
        .letter_Guesses
          @include vertical_center_line

    #hint_Image_Section
      grid-area: hint_Image_Section
      @include grid($columns: 1fr, $rows: 1fr, $area: "changing_Gifs")
      display: grid
      height: auto
      .changing_Gifs
        grid-area: changing_Gifs
        // width: 50%
        // height: auto
        max-height: 524.875px
        border: 1px white solid
        @include vertical_center_line


@media only screen and (max-width: 740px)

  .letter
    width: 20px
    height: auto
    border-style: solid


  .red_letter
      width: 20px
      height: auto
      border-style: solid
      padding: 2px


  body
    width: auto
    height: auto
    display: grid
    @include grid ($columns: 0.1fr 1fr 0.1fr, $rows: 1fr 3fr 3fr 1fr, $area: ". header ." ". left_Column ." ". right_Column ." ". . .")
    grid-column-gap: 10px
    grid-row-gap: 10px
    #left_Column
      grid-area: left_Column
      height: auto
      #hangman
        @include grid($columns: 1fr, $rows: 1fr 5fr 1fr 5fr, $area: "title_Hangman" "top_Img" "title_Reaction" "bottom_Img")
        grid-area: hangman
        display: grid
        height: 100%

      //Left Section
    #right_Column
      grid-area: right_Column
      display: grid
      @include grid($columns: 1fr, $rows: 1fr 1fr 1fr 1fr 2fr 1fr, $area: "scores_Section" "hints_Section" "guessed_Section" "guesses_Section" "hint_Image_Section" ".")
      height: auto
      border: 1px solid black
      font-size: 12px
      // Scores Section


@media only screen and (max-width: 320px)

  .letter
    width: 15px
    height: auto
    border-style: solid
    margin: 2px


  .red_letter
      width: 10px
      height: auto
      border-style: solid
      padding: 2px
      margin: 10px
